					.board {
					background: url(board-background.png) no-repeat;
					background-size: 100% 100%;
					padding: 70px;
					}
					.board .note {
					width: 230px;
					height: 230px; 
					box-shadow: 5px 5px 10px -2px rgba(33,33,33,.3); 
					margin: 20px;
					}
					.board .note .pin {
					position: absolute;
					left: 30%; 
					bottom: 90%;
					width: 85px;
					}
					.board .note .title {
					text-align: center;
					font-size: 24px;
					color: #374048;
					margin-top: 10px;
					}
					.board .note .content {
					color: #646464
					}